<div class="hero_section">
    <div class="hero_text">

        <h1>Feed Me More</h1>
        <p>Tasty Food And Healthy Food</p>
        <!-- <a href="#" class="btn__dark margin__top">Read Recipes</a> -->
        <a href="#" data-toggle="modal" data-target="#myModal2" class="btn__dark margin__top">Read Recipes</a>


    </div>
    <div id="myModal2" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
               
              </div>
              
            <div class="modal-body">
                <div class="text-center">
                    <img src="" class="rounded-circle" alt="...">
                  </div>  
                  
                  
      <table class="table table-hover">
      
        <tbody>
    
            <tr class="table-success">
                <th>BUTTER CHICKEN:</th>
                <td>1.Heat a pan with butter & saute cinnamon, cloves and cardamoms for a min.

                    2.Add ginger garlic paste, green chilies and fry till it turns fragrant.

                    3.Next pour the tomato cashew puree.

                    4.Add red chili powder, sugar and salt.

                    5.Mix and cook until the tomato puree becomes thick.</td>
            </tr>
    
            <tr class="table-primary">
                <th>DAL MAKHNI:</th>
                <td>In a kadai, heat 2 tbsp butter, add 1/4 tsp jeera, 1 bay leaf

                    saute, 1.5 tbsp chopped onions, 1 tsp ginger garlic paste , prepared tomato puree and saute them well
                    
                    Add cooked rajma and whole urad dal
                    
                    Add 1/8 tsp haldi, 1/4 tsp red chilly powder, 1/4 tsp dhania powder, 1/4 tsp salt, water as required
                    
                    Boil it for 3 minutes
                    
                    Add 1/2 tsp kasuri methi
                    
                    Cover and cook till done.
                    
                    Add 2 tsp cream, mix it and serve it hot.</td>
            </tr>
    
            <tr class="table-success">
                <th>KADAI CHICKEN:</th>
                <td>Mix chicken with ginger garlic paste, Kashmiri red chili powder, salt, and lemon juice in a bowl.

                    Chicken mixed with ginger garlic paste, chilli powder, salt and lemon juice. 
                    Cover the bowl and let the chicken marinate for 30 minutes.

                    Marinated chicken. 
                    Dry roast coriander seeds, cumin seeds, fennel seeds, black peppercorn, and dry red chilies on medium-low heat until they are browned and fragrant.

                    Coriander seeds, cumin seeds, fennel seeds, peppercorn and dry red chillies roasting in a pan. 
                    Cool and grind the roasted spices to make a powder.

                    Ground masala. 
                    Heat ghee and vegetable oil in a pan.

                    Ghee and oil heating in a pan. 
                    Once the oil is hot, add black cardamom, cinnamon and bay leaves and let them crackle for a few seconds.

                    Whole spices added in the pan. 
                    Add onion and fry until it turns light brown.

                    Onion added in the pan. 

                    Add ginger, garlic, tomato, green chili and cook for 3-4 minutes.

                    Ginger garlic, tomato and green chilli added in the pan. 
                    Now add the marinated chicken and the ground masala and cook on high heat for 5-6 minutes.

                    marinated chicken and ground masala added in the pan. 

                    Add yogurt whisked with all purpose flour. Whisking yogurt with all purpose flour prevents it from splitting. </td>
            </tr>
    
            <tr class="table-primary"> 
                <th>GULAB JAMUN:</th>
                <td>firstly, in a large bowl take ¾ cup milk powder, ½ cup maida and ½ tsp baking powder.
                    mix well, homemade gulab jamun mix is ready.
                    now add 2 tbsp ghee and mix well making the flour moist.
                    further, add milk as required start to combine.
                    combine well forming a soft dough. do not knead the dough.
                    cover and rest for 10 minutes.
                    meanwhile, prepare the sugar syrup by taking 2 cup sugar, 2 cup water, 2 cardamom and ¼ tsp saffron.
                    mix well and boil for 5 minutes or until the sugar syrup turns sticky. do not attain any string consistency.
                    turn off the flame and add 1 tsp lemon juice and 1 tsp rose water. lemon juice is added to prevent sugar syrup from crystallizing.
                    cover and keep the sugar syrup aside.
                    after 10 minutes or resting the dough, start to prepare small ball sized jamuns.
                    make sure there are no cracks in the jamun. if there are cracks then there are high chances for jamuns to break while frying.
                    deep fry in medium hot oil or ghee. frying in ghee gives good flavour to jamuns.
                    stir continuously and fry on low flame.
                    fry until the jamuns turn golden brown.
                    drain off and transfer the jamun into a hot sugar syrup.
                    cover and rest for 2 hours or until jamuns absorb the sugar syrup and doubles in size.
                    finally, enjoy gulab jamun with ice cream or as it is.</td>
            </tr>
    
            <tr class="table-success">
                <th>JALEBI:</th>
                <td>Step 1
                    Prepare the Jalebi batter and let it ferment overnight
                    To make this easy Jalebi recipe, mix together all-purpose flour, cornflour and baking soda in a bowl. Now, add ghee and food colour to the above mixture. To make a thick batter add hung curd and water. Mix well until it is thick but has a slightly flowing consistency. Keep it aside for 8-10 hours to ferment. This step is important to give that unique "khatta" taste to Jalebi. To make the sugar syrup, heat water in a pan over medium flame. Add sugar and mix until fully dissolved. Simmer the syrup until it attains one string consistency. Add saffron, cardamom powder and rose essence. Stir well.                   
                    Step 2 
                    Deep fry the Jalebis
                    Now, heat oil in a pan over medium flame for deep frying. Fill the jalebi batter in a muslin cloth and pierce a small hole in the cloth. Squeeze the muslin cloth to make concentric circles. Move from inside to outside to make perfect circles. Fry till jalebis are crisp and golden.                  
                    Step 3 
                    Soak the Jalebis in sugar syrup and 2-3 minutes and serve warm with Rabri
                    Soak the jalebis in sugar syrup for 2-3 minutes. Ensure that the sugar syrup is warm and not very hot. Now, remove from the syrup and place it on a tray lined with butter paper or foil. Decorate with silver foil (optional) and serve the jalebis hot, warm or at room temperature with creamy Rabri. Note: To make the jalebi even more delicious, add a little bit of ghee to the batter, this will give your jalebi that perfect aroma. To the crispy Jalebi, don't forget to ferment the batter</td>
            </tr>
    
            <tr class="table-primary">
                <th>RAJMA:</th>
                <td>1. Sort dried beans and discard any misshapen or discolored beans. Rinse a couple of times, and then soak 1 cup rajma (kidney beans) in enough water to cover them. Soaking should ideally last for 8 to 9 hours, so I usually soak them the night before I cook.

                    soaking rajma (kidney beans) in water
                    2. Once the beans are well soaked, discard the soaking water. Drain and rinse the soaked beans a few times to remove any leftover grit, if any.
                                       
                    rinsing the soaked rajma with fresh water
                    3. Add the rinsed and drained kidney beans to a 3 litre pressure cooker.
                                       
                    rajma beans added in a 3 litre pressure cooker
                    4. Add 3.5 to 4 cups of water and stir. Pressure cook the rajma for 18 to 20 whistles (or for about 15 to 20 minutes). The cook time of your beans will vary depending on their quality and age.                                       
                    water being added to rajma in a pressure cooker

                    5. While the kidney beans are cooking, chop 1 large onion (¾ to 1 cup finely chopped onion), 2 large tomatoes (1 cup finely chopped tomatoes) and make the crushed ginger+garlic+green chili paste.                   
                    For the paste, you need to crush or grind 1 inch ginger, 5 to 6 small garlic cloves (or 3 to 4 medium garlic cloves), and 1 to 2 green chilies to a paste in a mortar-pestle or a small grinder.                   
                    finally chopped tomatoes, onion and crushed ginger-garlic-green chillies kept aside for the rajma recipe
                    
                    6. When the pressure settles down on its own in the cooker, open the lid. Check if the rajma is cooked or not by eating or pressing a bean with your fingers. The cooked beans should not have a bite to them and softened.                   
                    The rajma beans should be completely cooked. If they are not cooked completely, then pressure cook again (adding some water if required) for a few more minutes.</td>
            </tr>
    
            <tr class="table-success">
                <th>SHAHI PANEER:</th>
                <td>Step 1 
                    Chop all the veggies and make almond-cashew paste
                    To prepare this creamy shahi paneer recipe, chop the onion, green chillies, tomatoes along with ginger and coriander leaves separately. Now in a bowl, add the curd and whisk it well. If you are in a hurry, you can also use tomato puree instead of chopped tomatoes. To make this recipe more delicious, you can dry roast the spices separately and then add them to the gravy. This will make your recipe more aromatic. Now, grind cashews and almonds separately using a little water and make cashew and almond paste. Keep them aside until required.                   
                    red-gravy

                    Step 2
                    Prepare onion-tomato gravy using curd
                    Next, put a pan on medium flame and heat 3 tbsps of ghee in it. Add the chopped onions, ginger, green chillies along with green cardamoms for 4 to 5 minutes. Add the tomato puree and cover the pan with a lid. Cook for about 8 to 10 minutes. Then, add the beaten curd, cook for another 5 minutes and pour a cup of water into the pan. Cook for another 2 minutes. When the gravy is cooked, let it cool down at room temperature. When it's cool enough, add it to a mixer jar and blend till smooth and keep aside.                  
                    shahi-paneer

                    Step 3 
                    Add paneer cubes in the gravy and cook for 3-5 minutes
                    Now, heat the remaining ghee in another pan and add the ground gravy in it along with red chilli powder, garam masala powder, cashew and almond paste along with salt. Bring it to a boil or till the gravy thickens. Then add the paneer cubes and milk. Cook for another 3 to 5 minutes. While the gravy is being cooked, cut the paneer into cubes and keep it aside till required. Take two cubes and grate them for garnishing.
                    
                    Step 4 
                    Garnish and serve
                    Garnish this delicious North Indian paneer recipe with chopped coriander leaves and grated paneer. If you like it creamier, you can add some fresh cream. This will not only make your dish look appetising but at the same time, it will add to the taste. Serve hot with roomali roti or naan and enjoy!</td>
            </tr>
    
           
    
        </tbody>
      </table>
    
      
            </div>
           
           
          </div>
          
      
        </div>
      </div>
</div>