<footer class="mainfooter" role="contentinfo">
 
  
    <div class="footer-middle">
    <div class="container">
        <div class="row">
            <div class="col-md-12 copy">
              <a class="navbar-brand" href="#"><span class="text-container"><h1>Kitchen Hub</h1></span></a>
            </div>
        </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
         
          <div class="footer-pad">
            <h4>Links</h4>
            <ul class="list-unstyled">
             
              <li><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#post">Post</a></li>
              <li><a href="#">Blogs</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
  
  
  <div id="foot" class="col-md-3">
  <h4>Follow Us</h4>
  <ul class="social-network social-circle">
  <li><a href="https://twitter.com/Saketat0712" class="icoFacebook" title="Facebook"><i class="fab fa-twitter" style="color: black;"></i></a></li>
  <li><a href="https://www.instagram.com/saket_bari" class="icoLinkedin" title="Linkedin"><i class="fab fa-instagram" style="color: black;"></i></a></li>
  </ul>	
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>			
  </div>
  </div>
   
  
  
    </div>
    </div>
   
  </footer>