<section id="news">
<h1>News</h1>
        <hr>
        
<div class="blog-card bg-primary">
    <div class="meta">
      <div class="photo" style="background-image: url(../../assets/img/pasta.jpg)"></div>
      <ul class="details">
        <li class="author"><a href="#"></a>U.S.A</li>
        <li class="date">June. 28, 2020</li>
      
      </ul>
    </div>
    <div class="description">
      <h1>FOOD AND DRINK</h1>
      <h2>Times Of India</h2>
      <p>An Italian cook on why pasta and pizza aren't unhealthy.</p>
      <p class="read-more">
        <a href="#">Read More</a>
      </p>
    </div>
  </div>
  <div class="blog-card alt">
    <div class="meta">
      <div class="photo" style="background-image: url(../../assets/img/food.jpg)"></div>
      <ul class="details">
        <li class="author"><a href="#">India</a></li>
        <li class="date">June. 28, 2020</li>
            </ul>
    </div>
    <div class="description">
      <h1>Famous Indian Chef</h1>
      <h2>NDTv</h2>
      <p>We asked five famous chefs to share some kitchen superstitions that they actually believe in and follow. You'd be surprised.</p>
      <p class="read-more">
        <a href="#">Read More</a>
      </p>
    </div>
  </div>

</section>