<app-navbar></app-navbar>
	<img class="wave" src="../../../assets/img/wave.png">
	<div class="container">
		<div class="img">
			<img src="../../../assets/img/bg.svg">
		</div>
		<div class="login-content">
			<form [formGroup]= "loginForm">
				<img src="../../../assets/img/avatar.svg">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		
				<input type="text" formControlName= "username" class="input" placeholder="Username" required>
							
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	
				<input formControlName= "password" id="showpw" type="password" class="input" placeholder="Password"><button type="button" (click)="call()">
					<i class="fa fa-eye"></i>
				</button>
						   
				   </div>
				   
            	</div>
				<a routerLink="/forgetpass">Forgot Password?</a>
				
            	<input type="submit" (click)="Login()" class="btn" value="Login">
            </form>
        </div>
	</div>

	<script type="text/javascript" src="../../../assets/js/main.js"></script>

